.table-controller__cell {
    display: inline-block;
    vert-align: top;
    height: 100%;
    padding: 15px 0 15px 15px;
    width: calc(11.11% + 1%);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-controller__cell_width_small {
    width: calc(11.11% - 3.5%);
}

.table-controller__cell_cell_balance {
    font-weight: bold;
}

.table-controller__cell_balance_positive {
    color: #0066bb;
}

.table-controller__cell_balance_negative {
    color: #b94a48;
}

.table-controller__cell_cell_details {

}

.table-controller__cell_align_align-r {
    text-align: right;
    padding-right: 15px;
    padding-left: 0;
    text-overflow: initial;
}
.table-controller__cell_align_align-c {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
