body {
    font-family: Helvetica, Arial, sans-serif;
}

.table-controller__row {
    padding: 10px;
    border-bottom: 1px dotted #666;
}

.table-controller__cell {
    display: inline-block;
    padding: 0 15px;
}

.table-controller__cell_cell_balance {
    font-weight: bold;
}

.table-controller__cell_balance_positive {
    color: #0066bb;
}

.table-controller__cell_balance_negative {
    color: #b94a48;
}

.table-controller__cell_cell_details {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
