.page {
    font-family: Helvetica, Arial, sans-serif;
}
.header{
    margin: 10px 20px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.table-controller {
    height: 800px;
    max-width: 1024px;
    margin: auto;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}
.table-controller__users-list {
    backface-visibility: hidden;
    position: relative;
}
